--extra-index-url https://download.pytorch.org/whl/cu121
-f https://data.pyg.org/whl/torch-2.5.1+cu121.html

torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121

torch-geometric==2.6.1
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

diffusers
accelerate
numpy
scipy
scikit-image
tqdm
matplotlib
open3d
trimesh
pyyaml
tensorboard
trimesh
diffusers